@charset "URF-8";

*{
    font-family: '1', 'Arial Narrow', Arial, sans-serif;
}
    body{
        background-color: rgb(4, 15, 12);
    }
    main{
        background-color: rgb(215, 240, 240);
        width: 1200px;
        padding: 10px;
        margin: auto;
        border-radius: 50px;

        box-shadow: 10px 10px 50px black;

    }
    h1{
        
        color: rgba(214, 71, 171, 0.493);
        text-align: center;
        text-shadow: 1px 1px 2px rgba(158, 99, 99, 0.247);
        font-size: 100px;
        
    }
    h2{
        color: blueviolet;
    }